/* 
 name: test
 version: 1.0
 author: Kazi Nozrul Islam
 Description: This is for traning purpose
 tags:DPI, IIST, web Development, Web Deding
 Text Domain: languge
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(./images/slider/bg_main\ \(2\).gif) center;
}
.cont{
    max-width: 1015px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;
}
/* common css end */

/* header part start */
.top_bar{
    background-color: #9E5BBA;
    max-height: 30px;
    color: white;
    font-size: 14px;
    line-height: 30px;
    border-bottom: 1px solid red;
}
.tap_left p{
    color: white;
}

.tap_right p{
    display: inline-block;
    border-right: 1px solid white;
    padding-right: 5px;
    margin-right: 5px;
    color: white;
}
.tap_right a{
    text-decoration: none;
    color: white;
}
/* header part End */
/* logo part start */
.logo{
    height: 100px;
}
.logo_left{
    line-height: 100px;
}
.logo_search{
    padding-top: 45px;
}
.logo_search input{
    width: 65%;
    padding: 3px;
    font-size: 14px;
}
.logo_search button{
    font-size: 12px;
   border: 1px solid rgb(146, 145, 145);
    padding: 5px;
}
.logo_right{
    padding-top: 31px;
}
.logo_right .logo1 {
    border-right: 1px solid rgb(186, 186, 186);
    padding-right: 9px;
    margin-right: 9px;
    height: 37px;
    margin-top: 6px;
}
.logo2 p{
    margin-bottom: -1px;
    font-size: 13px;
}
/* logo part end */

/* horo part start */

.hero_main .bannar{
    border: 2px solid red;
    padding: 5px;
}
.slider img{
    height: 250px;
    /* margin-top: 15px; */
}
/* horo part end */
/*tab section css start */
.tab_class a{
    text-decoration: none;
    color: green;
    font-size: 14px;
}
/*tab section css end */

/* list section start */
.list ul{
    list-style: none;
}
.list a{
    text-decoration: none;
    color: green;
    border-bottom: 1px solid green;
    padding: 5px;
    display: inline-block;
}
/* list section End */
/* selection part css */
.side_bar_select{
    justify-content: space-between;
}
.selection{
    width: 123%;
    padding: 5px;
}
.side_bar_select button {
    width: 24%;
}
/* selection part css End */
/* side_video css end */
.side_video h6 {
    background-color: green;
    color: white;
    padding: 8px 4px;
    margin-bottom: 0;
}
.side_video h5,p {
   color: #6b2f91
}
.side_video p {
    font-size: 14px;
    margin: 5px 0;
}
.side_video img{
    width: 100%;
    height: 203px;
}
/* footer_bottom css start*/
.footer_bottom  a{
    text-decoration: none;
    color: gray;
    font-size: 10px;
}
.footer_bottom  p {
    font-size: 10px;
    color: gray;
    padding-left: 21px;
}
.fb_right img{
    width: 72%;
}
.fb_right p{
    padding-top: 20px;
    margin-bottom: 0px;

}
.fb_right_2 p{
    width: 28%;
    position: relative;
    top: 16px;
}